# Requires PyYAML to read yaml configuration file
PyYAML

# Requires colorama to generate colored console output
colorama

# Requires junit-xml to generate junit output
junit-xml

# Requires sphinx to generate documentation
sphinx

# Linting tools
flake8
flake8-annotations
flake8-docstrings
flake8-rst-docstrings

# Testing tools
pytest
